@{
    ViewBag.Title = "MTD管理后台";    
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="/Scripts/kissy/1.2.0/kissy-min.js" type="text/javascript"></script>
    <style type="text/css">
        body{margin:0;padding:0;font-size:12px; background:#e0f5fa;}
        div,h2,p{margin:0;padding:0;}
        /*header*/
        #header-top{height:73px; position:relative; background:url("/images/pagesadmin/main_banner_bg.gif") repeat-x scroll left top #17A8EB;width:100% !important;}
        #header-top-logo{padding:10px 0 0 20px; font-size:40px; font-family:"Verdana"; font-weight:bold;}
        /*footer*/
        #footer{ background:url("/images/pagesadmin/main_footer_bg.gif") repeat-x scroll left top transparent;color:#263347;left:0; position:absolute;bottom:0; height:30px; line-height:30px; margin:0; text-align:center;width:100% !important;font-family:"Verdana";}
        /*nav-side-bar*/
        #nav-side-bar{ background:none repeat scroll 0 0 #FFFFFF; border:1px solid #CFCECC; left:8px;top:5px;width:184px; height:161px; position:absolute;}
        .nav-side-bar-one {margin:5px auto 0;padding:0;width:174px; list-style:none outside none;}
        .nav-side-bar-one li{height:auto;margin:0 0 5px;}
        .nav-side-bar-one li a{ background:url("/images/pagesadmin/nav_sprites.png") no-repeat scroll 0 0 transparent;border:1px solid #DFDBDC;color:#8A8B8F; display:block;font-size:1.2em; font-weight:700; height:29px; line-height:29px; text-align:left; text-decoration:none; text-indent:35px;width:174px;}
        .nav-side-bar-one li a.on{ background:url("/images/pagesadmin/nav_sprites.png") no-repeat scroll 0 -29px transparent; border:1px solid #DFDBDC;color:#fff;}
        .nav-side-bar-one li a:hover{ background:url("/images/pagesadmin/nav_sprites.png") no-repeat scroll 0 -60px transparent; border:1px solid #DFDBDC;}

        .nav-side-bar-two{margin:0;padding:0; display:none;}
        .nav-side-bar-two li{margin:5px 0 5px 0px;padding:0; list-style:none outside none;}
        .nav-side-bar-two li a{ background:none repeat scroll 0 0 transparent;border:0 none;color:#8A8B8F; font-size:1em; font-weight:normal; height:29px; text-align:left; text-indent:5px;}
        .nav-side-bar-two li a:hover{background:none repeat scroll 0 0 #EEF5FD;border:1px solid #BBD4fC;color:#8A8B8F; height:27px;}

        /*nav-fold*/
        #nav-fold{ background:url("/images/pagesadmin/main_zhedie.gif") no-repeat scroll center center transparent; position:absolute; cursor:pointer; width:9px;top:5px; left:195px; height:161px;}

        /*main-body*/
        #main-body{ position:relative;}

        /*main-content*/
        #main-content{ background:none repeat scroll 0 0 #FFFFFF;border:1px solid #CFCECC; position:absolute; left:205px;margin:0;top:5px; width:600px; height:400px;}

        /*main-content-nav*/
        #main-content-nav-wrapper{ background:url("/images/pagesadmin/main_place_bg.gif") repeat-x scroll left top transparent; border-bottom:1px solid #CECED0; height:30px; width:100%;}
        #m-c-n-img{ background:url("/images/pagesadmin/pic_sprites.png") no-repeat scroll -184px -24px transparent; cursor:pointer; height:11px; width:12px; display:inline; float:left; margin:8px 0 0 10px !important;}
        #m-c-n-current{ float:left; margin:8px 0 0 10px !important; font-size:1em; color:#3A6585;}
        #m-c-n-text{float:left; margin:8px 0 0 10px !important;color:#3A6585; font-weight:700;}
    </style>
</head>
<body>
    <div id="header-top">
        <h2 id="header-top-logo">
            MTD管理后台</h2>
    </div>
    <div id="main-body">
        <div id="nav-side-bar">
            <ul class="nav-side-bar-one">
                <li><a href="javascript:void(0);" onclick="toggleNav(this)">分类管理</a>
                    <ul class="nav-side-bar-two">
                        <li><a href="/PagesAdmin/Category/add" target="iframeMain" onclick="goOpen(this)">新建分类</a></li>
                        <li><a href="/PagesAdmin/Category/List?lang=-1" target="iframeMain" onclick="goOpen(this)">
                            分类列表</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0);" onclick="toggleNav(this)">文章管理</a>
                    <ul class="nav-side-bar-two">
                        <li><a href="/PagesAdmin/Article/Add" target="iframeMain" onclick="goOpen(this)">添加文章</a></li>
                        <li><a href="/PagesAdmin/Article/List" target="iframeMain" onclick="goOpen(this)">文章列表</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0);" onclick="toggleNav(this)">下载管理</a>
                    <ul class="nav-side-bar-two">
                        <li><a href="/PagesAdmin/Attach/Add" target="iframeMain" onclick="goOpen(this)">添加附件</a></li>
                        <li><a href="/PagesAdmin/Attach/List" target="iframeMain" onclick="goOpen(this)">附件列表</a></li>
                    </ul>
                </li>
                <li><a href="/PagesAdmin/Notice/List" onclick="toggleNav(this)" target="iframeMain">
                    公告管理</a></li>
                <li><a href="/PagesAdmin/Feedback/List" onclick="toggleNav(this)" target="iframeMain">
                    留言管理</a></li>
                <li><a href="javascript:void(0);" onclick="toggleNav(this)">系统管理</a>
                    <ul class="nav-side-bar-two">
                        <li><a href="/PagesAdmin/Account/List" target="iframeMain" onclick="goOpen(this)">管理员列表</a></li>
                        <li><a href="/PagesAdmin/Account/Add" target="iframeMain" onclick="goOpen(this)">添加管理员</a></li>
                        <li><a href="/PagesAdmin/Account/SetPwd" target="iframeMain" onclick="goOpen(this)">
                            修改密码</a></li>
                    </ul>
                </li>
                <li><a href="/PagesAdmin/account/logout">退出</a></li>
            </ul>
        </div>
        @*<div id="nav-fold">&nbsp;</div>*@
        <div id="main-content">
            <p id="main-content-nav-wrapper">
                <span id="m-c-n-img"></span><span id="m-c-n-current">当前位置：</span> <span id="m-c-n-text">
                    系统首页</span>
            </p>
            <iframe id="iframeMain" name="iframeMain" width="100%" scrolling="yes" frameborder="0"
                src="/Pagesadmin/Home/Index" style="overflow-x: hidden;"></iframe>
        </div>
    </div>
    <div id="footer">
        技术支持：兴百放(13466332458)&nbsp;&nbsp;Email:xbf321@gmail.com</div>
    <script type="text/javascript">
        function toggleNav(obj) {
            var $ = KISSY.all;
            if ($(obj).next("ul")) {
                $(obj).next("ul").toggle();
            }
            $('.nav-side-bar-one').children('li').each(function () {
                $(this).children('a').attr('class', '');
            });
            $(obj).attr("class", "on");
            $('#m-c-n-text').html($(obj).html());
        }
        function goOpen(obj) {
            var $ = KISSY.all;
            $('#m-c-n-text').html($(obj).html());
        }
        KISSY.ready(function (S) {
            var $ = S.all;
            var autoSize = function () {
                var height = document.documentElement.clientHeight;
                var width = document.documentElement.clientWidth;
                //side-bar
                $('#nav-side-bar').height(height - 115);
                $('#nav-fold').height(height - 180);

                //main-content
                $('#main-content').height(height - 115);
                $('#main-content').width(width - 215);

                //iframe
                $('#iframeMain').height(height - 150);
                $('#iframeMain').width(width - 220);
            }
            $(window).on("resize", autoSize);
            autoSize();
        });
    </script>
</body>
</html>
