@{
    ViewBag.Title = "20111212";
    Layout = "../../Shared/_SurveyLayout.cshtml";
}
<div class="comment_title">
    <h3>
        问卷调查</h3>
</div>
<span class="clear"></span>
<div class="diaocha_bar">
    <span class="box_20"></span>
    @*<table width="94%" border="0" align="center" cellpadding="4" cellspacing="0" style="border-collapse: collapse;">
        <tbody>
            <tr>
                <td>
                    <strong>1.请问您对MTD网站是否满意？</strong><br>
                    <table width="90%" border="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="radio" value="24">
                                    非常满意，我能很容易地找到所需要的信息，并顺利得到在线交流反馈
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" value="25">
                                    基本满意，我所需要的信息基本能找到，能顺利提交留言，但需要点击多次
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" value="26">
                                    不满意，我找不到我所需要的信息，也找不到在线交流入口
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <strong>2.请问您觉得目前MTD网站最需要丰富哪方面的内容？</strong><br>
                    <table width="90%" border="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" name="checkbox" id="checkbox" />关于我们
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox2" id="checkbox2" />产品与服务
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox3" id="checkbox3" />科研创新
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox4" id="checkbox4" />企业文化
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox5" id="checkbox5" />人力资源
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <strong>3.您最关心MTD哪些业务？</strong><br>
                    <table width="90%" border="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" name="checkbox6" id="checkbox6" />能源
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox7" id="checkbox7" />农业
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox8" id="checkbox8" />化工
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox9" id="checkbox9" />地产
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox10" id="checkbox10" />金融
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox11" id="checkbox11" />其他
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <strong>4.您一般通过什么媒介了解MTD网站?</strong><br>
                    <table width="100%" border="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" name="checkbox12" id="checkbox12" />新闻媒体
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox13" id="checkbox13" />互联网新媒体
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox14" id="checkbox14" />MTD网站
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox15" id="checkbox15" />灯箱广告
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox16" id="checkbox16" />《今日MTD》
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox17" id="checkbox17" />You &amp; Me电子杂志
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox18" id="checkbox18" />其他
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <strong>5.您一周访问MTD网站几次？</strong><br>
                    <table width="90%" border="0" cellspacing="0" class="Normal" id="dnn_ctr1138_Survey_lstSurvey_ctl04_optOptions">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="radio" value="24" />
                                    10次以上
                                </td>
                                <td>
                                    <input type="radio" value="24" />
                                    5-9次
                                </td>
                                <td>
                                    <input type="radio" value="24" />
                                    1-4次
                                </td>
                                <td>
                                    <input type="radio" value="24" />
                                    一周平均不到1次
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <strong>6.您对MTD网站最感兴趣的栏目是哪几个？</strong><br>
                    <table width="90%" border="0" cellspacing="0" class="Normal" id="dnn_ctr1138_Survey_lstSurvey_ctl05_chkOptions">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox" name="checkbox19" id="checkbox19" />
                                    关于我们
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox20" id="checkbox20" />
                                    产品与服务
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox21" id="checkbox21" />
                                    科研创新
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox22" id="checkbox22" />
                                    企业文化
                                </td>
                                <td>
                                    <input type="checkbox" name="checkbox23" id="checkbox23" />
                                    人力资源
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    <label>
                        <input type="submit" name="button" id="button" value="提交" />
                        &nbsp;
                        <input type="reset" name="button2" id="button2" value="重置" />
                    </label>
                </td>
            </tr>
        </tbody>
    </table>*@
    暂无问卷
    <span class="box_20"></span>
</div>
